<h1>new user</h1>

<p>
	<%= form_for @user do |f| %>
		<p>
			<%= f.label :email, "Email" %>
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.label :email, "Password" %>
			<%= f.password_field :password %>
		</p>
		<p>	
			<%= f.label :email, "Confirm password" %>
			<%= f.password_field :password_confirmation %>
		</p>
		<%= f.submit %>
	<% end %>
</p>
